@page "/TemplatePlan"

 

@using LAHJA.UI.Components.Category
@using LAHJA.UI.Components.Plan
 @using LAHJA.UI.Templates.Plans
 @inject LAHJA.Data.UI.Templates.Plans.TemplatePlans Template

<section>


    <div style="padding:10px!important">
         
        <MainCategory DataBuild="Template.Categories" OnSubmit="Template.BuilderComponents.SubmitContainerPlans" />
        <MainPlan DataBuilds="Template.SubscriptionPlans" IsDialog="false" />

          @* <TemplatePlans /> *@

        @* <LAHJA.Components.TemPlansBlazar.Category_Plans_Template.TemListCategorys OnClick="Submit" Params="@dataPlansCategory._listcategories" /> *@
    </div>

 @*    <div style="padding:10px!important">

        <LAHJA.Components.TemPlansBlazar.FeaturesPlansTem1.ListFeature Params="@dataFeature.featureList" OnClick="SubmitListFeature" />
        
    </div> *@
</section>

 
 
@code
{


    // @attribute[Authorize]


    // public  DataPlansCategory dataPlansCategory = new DataPlansCategory();
    // public Data.BlazarComponents.Plans.TemFeturePlans1.DataModel.DataFeature dataFeature = new Data.BlazarComponents.Plans.TemFeturePlans1.DataModel.DataFeature();
    // public DataFeature dataFeaturee= new DataFeature();
    // private List<PlanInfo> planInfos;

    // protected override async Task OnInitializedAsync()
    // {

    //     try
    //     {
        

    //         // planInfos = DataManager.GetAllPlanInfos();

    //         // AppCustomAuthenticationStateProvider.SignOut();
    //         // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    //         // var authState = await AppCustomAuthenticationStateProvider.GetAuthenticationStateAsync();

    //         // if (authState.User.Identity.IsAuthenticated)
    //         // {


    //         var result = await plansClientService.getAllPlansContainersAsync();

    //             if (result.Succeeded && result.Data != null)
    //             {

    //                 dataPlansCategory._listcategories = result.Data;
    //                 StateHasChanged();
    //             }
    //             else
    //             {

    //             }
            

    //     }
    //     catch (Exception e)
    //     {

    //     }


    // }


    // private async void Submit(Data.BlazarComponents.Plans.Category.Model.InputCategory inputCategory)
    // {
    //     if (inputCategory != null)
    //     {

    //         await ShowFeatureService(inputCategory);


    //     }
    // }
    // private async void SubmitListFeature(LAHJA.Data.BlazarComponents.Plans.TemFeturePlans1.Model.FeaturesPlansTem1 plans)
    // {
    //     if (plans != null)
    //     {
    //         Snackbar.Add(plans.ProductName, Severity.Success);
    //     }
    // }

    // private async Task ShowFeatureService(Data.BlazarComponents.Plans.Category.Model.InputCategory inputCategory)
    // {
    //     try
    //     {

    //         var response = await plansClientService.getAllPlansInfoAsync();

    //         if (response.Succeeded)
    //         {

    //             // dataPlansCategory._listcategories = ;
    //             // StateHasChanged();

    //             var dataList = response.Data.ToList();

    //             AuthComponent authComponent = new AuthComponent()
    //             {
    //                 IsAuth = await AuthService.isAuth(),
    //                 PageRouterName = "/login"
    //             };
    //             // var parameters = new DialogParameters<ListFeatureService>
    //             // {

    //             //     {x => x.TypeTransition,true},
    //             //     {x => x.IdCategry,inputCategory.IdPlans},
    //             //     {x=>x.auth,authComponent},
    //             //     {x =>x.Params,dataList} //dataFeaturee.plansList1}
    //             // };
    //             var parameters = new DialogParameters<ListInfoPlans>{
    //               {x => x.TypeTransition,true},
    //               {x => x.IdCategry,inputCategory.IdPlans},
    //               {x => x.auth,authComponent},
    //               {x =>x.Params,response.Data} //dataFeaturee.plansList1}
    //           };

    //             var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraLarge, FullWidth = true };
    //             //   var dialog = await DialogService.ShowAsync<ListFeatureService>("",parameters, options);
    //             var dialog = await DialogService.ShowAsync<ListInfoPlans>("", parameters, options);
    //             var result = await dialog.Result;
    //             if (!result.Canceled)
    //             {
    //                 var pbj = (PlanInfo)result.Data;
    //                 string url = "/Payment/" + pbj.Id;
    //                 Navigation.NavigateTo(url);
    //             }
    //         }
    //         else
    //         {
    //             throw new Exception(response?.Messages[0] ?? "");
    //         }


    //     }
    //     catch (Exception ex)
    //     {
    //         Snackbar.Add(ex.Message, Severity.Error);
    //     }


    // }
    // // private async Task ShowFeatureService(Data.BlazarComponents.Plans.Category.Model.InputCategory inputCategory)
    // // {
    // //     try
    //     {

    //         var response = await ClientPlansService.getPlansGroupAsync();

    //         if (response.Succeeded)
    //         {

    //             dataPlansCategory._listcategories = ;
    //             StateHasChanged();

    //             var dataList = response.Data.ToList();

    //             Data.BlazarComponents.Authentication.AuthComponent authComponent = new Data.BlazarComponents.Authentication.AuthComponent() { 
    //                 Isauth = await AuthService.isAuth(),
    //             PageRouterName="/login" };
    //             var parameters = new DialogParameters<ListFeatureService>
    //             {

    //                 {x => x.TypeTransition,true},
    //                 {x => x.IdCategry,inputCategory.IdPlans},
    //                 {x=>x.auth,authComponent},
    //                 {x =>x.Params,dataList} dataFeaturee.plansList1}
    //             };


    //             var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraLarge,FullWidth=true};
    //             var dialog = await DialogService.ShowAsync<ListFeatureService>("",parameters, options);
    //             var result = await dialog.Result;
    //             if (!result.Canceled)
    //             {
    //                 var pbj =(Data.BlazarComponents.Plans.TemFeturePlans2.Model.PlansFeture)result.Data;
    //                 Snackbar.Add(pbj.Name, Severity.Error);
    //             }
    //         }
    //         else
    //         {
    //             throw new Exception(response?.Messages[0]??"");
    //         }

            
    //     }
    //     catch (Exception ex)
    //     {
    //         Snackbar.Add(ex.Message, Severity.Error);
    //     }


    // }
    
}