 
<div style="padding:1%!important">

     

@* 



            <NumberService NameService="Setting Request *" />
            <InvoiceDetails/>
            <TechnologyInvoiceDetails/>
            <TechnologyServices NameService="Additional Support Types *"/> *@

           <LAHJA.Components.Plans.AddPlans/>

</div>




@code 
{

}
