 

@using MudBlazor
@using System.Globalization




<div style="padding:1%!important">

<MudGrid Justify="Justify.SpaceBetween" Style="padding:2%!important">
  
<div>
            <NumberService NameService="Setting Request *" />

            <TechnologyServices NameService="Additional Support Types *" />

            <TechnologyServices NameService="Additional Security *" />

            <TechnologyServices NameService="Additional server Speeds *" />

</div>


<div>


</div>

 </MudGrid>   
    
</div>

 



 
 
    
 
@code
{

   

}